@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Top2000</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/homepage.css" />
</head>
<body>
    <header>
        <div class="video-background-holder">
            <div class="video-background-overlay"></div>
            <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                <source src="https://www.dropbox.com/s/xekacihbvc980rj/Top2000%20Intro.mp4?dl=1" type="video/mp4">
            </video>
            <div class="video-background-content container h-100">
                <div class="d-flex h-100 text-center align-items-center">
                    <div class="w-100 text-white">
                        <h1 class="display-4">Top2000 - ScrumGroep13&copy;</h1>
                        <p class="lead mb-0">ASP.NET MVC</p>
                        <p>Bekijk hier de <a asp-controller="Top10Lijst">lijst</a>!</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col">
                    <p class="lead">De Top 2000 is een jaarlijks radioprogramma van het Nederlandse radiostation NPO Radio 2. Hierin worden de bij stemming 2000 populairst bevonden muzieknummers achter elkaar gedraaid. Jaarlijks kan in de eerste week van december, de Top 2000 Stemweek dus vanaf 1 december, op deze lijst worden gestemd. Diverse dj's van NPO Radio 2 zenden dan uit vanuit de Top 2000 stembus en doen diverse locaties aan door heel Nederland. Luisteraars kunnen dan tevens hun stemlijst indienen</p>
                    <p class="lead">De Top 2000 wordt sinds 1999 tijdens de laatste dagen van elk kalenderjaar uitgezonden. De eerste editie werd een groot succes. De zender, toen nog Radio 2 geheten, besloot hierop het programma voortaan jaarlijks te herhalen. In de jaren na 1999 begon men gebruik te maken van een steeds uitgebreidere keuzelijst en kon er gestemd worden via internet, waarbij meestal van de keuzelijst kon worden afgeweken. De Top 2000 werd met afstand het best beluisterde radioprogramma van Nederland. De uitzending begint op eerste kerstdag en gaat non-stop door tot middernacht oudejaarsavond. De uitzending wordt alleen elk uur onderbroken door de STER reclame blokken en het NOS Journaal.</p>
                    <p class="lead">In de 22 edities tussen 1999 en 2020 is het nummer Bohemian Rhapsody van Queen zeventien maal gekozen tot nummer 1. In 2005 stond voor het eerst een ander nummer bovenaan, namelijk Avond van Boudewijn de Groot. In 2010 en 2014 was dat Hotel California van de Eagles,[1] in 2015 Imagine van John Lennon[2] en in 2020 Roller Coaster van Danny Vera.[3]</p>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <a asp-controller="Top10Lijst" class="btn btn-primary btn-lg btn-block">Bekijk de laatste Top2000 &raquo;</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>